<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>闪电计划</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="views/css/login/index.css">
<link href="views/css/bootstrap.min.css" rel="stylesheet">
<link href="views/css/common.css" rel="stylesheet">
<script src="views/js/jquery.min.js"></script>
<script src="views/js/bootstrap.min.js"></script>

</head>
<body class="body-bg">
	<!-- 导航 -->
	<div>
		<ul class="nav nav-tabs full-screen index-nav-bg col-lg-12"
			role="navigation">
			<!--  data-toggle="tab" 指明作用，这样就不用自己写js来完成 tab切换时颜色的改变 -->

			<li id="nav-item1" class="active  nav-item "><a class="nav-item"
				data-toggle="tab" href="#">最新内容</a></li>
			<li id="nav-item2"><a class="nav-item" data-toggle="tab"
				href="#">有意思</a></li>
			<li id="nav-item3"><a class="nav-item" data-toggle="tab"
				href="#">碎片记忆</a></li>
			<li id="nav-item4"><a class="nav-item" data-toggle="tab"
				href="#">图片看世界</a></li>
			<li id="nav-item5"><a class="nav-item" data-toggle="tab"
				href="#">动弹</a></li>
		</ul>

		<!-- 内容主体部分 -->
		<div class="">
			<!-- 展示内容：如果是多张图片的话，就显示第一张图片，如果是为你做的话，就显示前15行数据，然后点击的时候再进入详情。每一个展示项有用户的头像，标签，评论，分享，收藏按钮 -->
			<div class="bottom-margin col-lg-12 shadow-common div-left">
				我们来自五湖四海<br> 我们来自五湖四海<br> 我们来自五湖四海<br> 我们来自五湖四海<br>
				我们来自五湖四海<br> 我们来自五湖四海<br> 我们来自五湖四海<br>
			</div>
			<!-- y右边的个人中心 -->
			<div class="div-right shadow-common">??????????</div>
		</div>

	</div>
</body>
</html>